<div class="container">

    <div class="row">
        <div class="col">
        </div>
        <div class="col p-3">
            <div class="card p-3">

                <div class="text-center">
                    <img src="/assets/company.jpeg" alt="Logo" style="width: 150px;height:auto"
                        class="rounded img-thumbnail p-3">
                </div>
                <div class="p-3"></div>
                <form>
                    <div [formGroup]="loginForm">
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" id="form2Example1" class="form-control" formControlName="username" />
                            <label class="form-label" for="form2Example1">User Name</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" id="form2Example2" class="form-control" formControlName="password" />
                            <label class="form-label" for="form2Example2">Password</label>
                        </div>
                    </div>
                </form>
                <!-- Submit button -->
                <button type="button" (click)="loginFormSubmit()" class="btn btn-primary btn-block mb-4">Login
                    in</button>

            </div>
        </div>
        <div class="col">
        </div>
    </div>

</div>