   <div class="row">
        <div class="col-md-5">
            <div class="form-outline">
                <h3>Buscar Producto:</h3>
                <input type="search" id="form1" class="form-control" placeholder="Ingrese el codigo, nombre o descripcion del producto" aria-label="Search" [(ngModel)]="filtroproducto" name="filtroproducto"/>
            </div>
        </div>



        <div class="col-md-5">
            <h3>Crear Producto</h3>
            <div class="my-2 text-left">
                <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/inventario/crear-producto/crear-producto']">Crear Producto</button>
            </div>
        </div>
   </div>
   


<div class="container mt-3">
    <table class="table table-bordered table-striped" >
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre Producto</th>
                <th>Descripción</th>
                <th>Existencia</th>
                <th>Color</th>
                <th>Marca</th>
                <th>Medida</th>
                <th>Fecha</th>
                <th>Gramos</th>
                <th>Precio Venta</th>
                <th>Precio Compra</th>
                <th>Eliminar</th>
                <th>Editar</th>

            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let producto of productos | filtroproducto: filtroproducto | paginate: config">
                <td>{{ producto.codigo }}</td>
                <td>{{ producto.nombre}}</td>
                <td>{{ producto.descripcion}}</td>
                <td>{{ producto.existencia}}</td>
                <td>{{ producto.color}}</td>
                <td>{{ producto.marca}}</td>
                <td>{{ producto.medida}}</td>
                <td>{{ producto.fecha}}</td>
                <td>{{ producto.gramos}}</td>
                <td>{{ producto.precioCompra}}</td>
                <td>{{ producto.precioVenta}}</td>
                <td>
                    <button type="button" name="eliminar" class="btn btn-danger btn-sm">Eliminar</button>
                </td>
                <td>
                    <button type="button" name="Editar" [routerLink]="['/inventario/crear-producto/crear-producto', producto.codigo]" class="btn btn-primary">Editar</button>
                </td>

            </tr>
      </tbody>
    </table>

    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    

