<div class="my-3 p-3 bg-body rounded shadow-sm">
    <h2 class="pb-2 mb-0">Ventas</h2>
    <div class="d-flex text-muted pt-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">codigo_cliente</th>
                    <th scope="col">total</th>
                    <th scope="col">created</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of ventaList; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{product.codigo_cliente}}</td>
                    <td>{{product.total}}</td>
                    <td>{{product.created}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="pb-2 mb-0">Compras</h6>
    <div class="d-flex text-muted pt-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">nit_proveedor</th>
                    <th scope="col">total</th>
                    <th scope="col">created</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of compraList; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{product?.nit_proveedor}}</td>
                    <td>{{product?.total}}</td>
                    <td>{{product?.created}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>